// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3, h4{
	margin-top: 0px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#map {
	height: 500px;
	width: 100%;
}

.highlightedPark {
	outline: #00FF00 dotted thick;
}

.scrollableTable {
	height: 100%;
	overflow: auto;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}